body {
	background: #f2f2f2;
}

.elgg-menu-item-account > a:after {
	content: none;
}

.elgg-menu-site .fa {
	color: white;
	font-size: 150%;
	margin-right: 0.7em;
}

.elgg-menu-site > li {
	border-bottom: 1px solid #55b5dd;
}

#feedbackWrapper {
	top: 70px;
}

#site-logo {
	display: block;
	width: 89px;
	margin: 0 auto;
}

#site-logo-small {
	display: none;
}

/* Prevents the Landr plugin from hiding the menu*/
.elgg-page-navbar .elgg-menu-site {
	display: block;
}

@media (max-width: 820px) {
	/* Float to left instead of centering */
	#site-logo {
		margin: 0 0 0 10px;
		display: inline-block;
	}
}

@media (max-width: 500px) {
	#site-logo-default {
		display: none;
	}

	#site-logo {
		display: inline-block;
		width: 24px;
		margin-top: 3px;
	}

	#site-logo-small {
		display: block;
		width: 24px;
	}

	.elgg-search input[type="text"] {
		width: 60px;
	}
}

@media (max-width: 400px) {

	.elgg-menu-item-messages {
		display: none;
	}

	.elgg-menu-item-profile {
		display: none;
	}

}
